VITE_SUPABASE_URL=https://mfqhyrraflbvnjogunuw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mcWh5cnJhZmxidm5qb2d1bnV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MDY2OTMsImV4cCI6MjA5MTM4MjY5M30.QOPwMqTEJNCwFoqsA9jr83xiaJiahzCSIjlMHFmpK4A
